<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>data</key>
	<array>
		<dict>
			<key>kode</key>
			<integer>10000</integer>
			<key>sell_price</key>
			<integer>10300</integer>
		</dict>
		<dict>
			<key>kode</key>
			<integer>20000</integer>
			<key>sell_price</key>
			<integer>20400</integer>
		</dict>
		<dict>
			<key>kode</key>
			<integer>25000</integer>
			<key>sell_price</key>
			<integer>25800</integer>
		</dict>
		<dict>
			<key>kode</key>
			<integer>50000</integer>
			<key>sell_price</key>
			<integer>51250</integer>
		</dict>
		<dict>
			<key>kode</key>
			<integer>100000</integer>
			<key>sell_price</key>
			<integer>98800</integer>
		</dict>
	</array>
</dict>
</plist>
