<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>data</key>
	<array>
		<dict>
			<key>kode</key>
			<integer>10000</integer>
			<key>sell_price</key>
			<integer>9650</integer>
		</dict>
		<dict>
			<key>kode</key>
			<integer>20000</integer>
			<key>sell_price</key>
			<integer>18650</integer>
		</dict>
		<dict>
			<key>kode</key>
			<integer>30000</integer>
			<key>sell_price</key>
			<integer>27650</integer>
		</dict>
	</array>
</dict>
</plist>
