<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>data</key>
	<array>
		<dict>
			<key>kode</key>
			<string>0002</string>
			<key>name</key>
			<string>BRI</string>
		</dict>
		<dict>
			<key>kode</key>
			<string>0008</string>
			<key>name</key>
			<string>MANDIRI</string>
		</dict>
		<dict>
			<key>kode</key>
			<string>0009</string>
			<key>name</key>
			<string>BNI</string>
		</dict>
		<dict>
			<key>kode</key>
			<string>0011</string>
			<key>name</key>
			<string>DANAMON</string>
		</dict>
		<dict>
			<key>kode</key>
			<string>0013</string>
			<key>name</key>
			<string>PERMATA</string>
		</dict>
		<dict>
			<key>kode</key>
			<string>0014</string>
			<key>name</key>
			<string>BCA</string>
		</dict>
		<dict>
			<key>kode</key>
			<string>0016</string>
			<key>name</key>
			<string>BII</string>
		</dict>
		<dict>
			<key>kode</key>
			<string>0019</string>
			<key>name</key>
			<string>PANIN</string>
		</dict>
		<dict>
			<key>kode</key>
			<string>0022</string>
			<key>name</key>
			<string>NIAGA</string>
		</dict>
		<dict>
			<key>kode</key>
			<string>0023</string>
			<key>name</key>
			<string>BUANA</string>
		</dict>
		<dict>
			<key>kode</key>
			<string>0028</string>
			<key>name</key>
			<string>NISP</string>
		</dict>
		<dict>
			<key>kode</key>
			<string>0031</string>
			<key>name</key>
			<string>Citibank</string>
		</dict>
		<dict>
			<key>kode</key>
			<string>0042</string>
			<key>name</key>
			<string>BOT</string>
		</dict>
		<dict>
			<key>kode</key>
			<string>0087</string>
			<key>name</key>
			<string>EKONOMI</string>
		</dict>
		<dict>
			<key>kode</key>
			<string>0089</string>
			<key>name</key>
			<string>HAGA KITA</string>
		</dict>
		<dict>
			<key>kode</key>
			<string>0114</string>
			<key>name</key>
			<string>BPD JATIM</string>
		</dict>
		<dict>
			<key>kode</key>
			<string>0145</string>
			<key>name</key>
			<string>BNP</string>
		</dict>
		<dict>
			<key>kode</key>
			<string>0157</string>
			<key>name</key>
			<string>MASPION</string>
		</dict>
		<dict>
			<key>kode</key>
			<string>0200</string>
			<key>name</key>
			<string>BTN</string>
		</dict>
		<dict>
			<key>kode</key>
			<string>0441</string>
			<key>name</key>
			<string>BUKOPIN</string>
		</dict>
		<dict>
			<key>kode</key>
			<string>0451</string>
			<key>name</key>
			<string>BSM</string>
		</dict>
		<dict>
			<key>kode</key>
			<string>0485</string>
			<key>name</key>
			<string>BUMIPUTERA</string>
		</dict>
		<dict>
			<key>kode</key>
			<string>0700</string>
			<key>name</key>
			<string>POSINDO</string>
		</dict>
		<dict>
			<key>kode</key>
			<string>0564</string>
			<key>name</key>
			<string>Sinar Harapan</string>
		</dict>
		<dict>
			<key>kode</key>
			<string>0111</string>
			<key>name</key>
			<string>BPD DKI</string>
		</dict>
		<dict>
			<key>kode</key>
			<string>0426</string>
			<key>name</key>
			<string>MEGA</string>
		</dict>
		<dict>
			<key>kode</key>
			<string>0147</string>
			<key>name</key>
			<string>MUAMALAT</string>
		</dict>
		<dict>
			<key>kode</key>
			<string>0030</string>
			<key>name</key>
			<string>AMERICANEXP</string>
		</dict>
		<dict>
			<key>kode</key>
			<string>0117</string>
			<key>name</key>
			<string>BPD SUMUT</string>
		</dict>
		<dict>
			<key>kode</key>
			<string>0120</string>
			<key>name</key>
			<string>BPD SUMSEL</string>
		</dict>
		<dict>
			<key>kode</key>
			<string>0151</string>
			<key>name</key>
			<string>MESTIKA</string>
		</dict>
		<dict>
			<key>kode</key>
			<string>0212</string>
			<key>name</key>
			<string>BHS</string>
		</dict>
		<dict>
			<key>kode</key>
			<string>0129</string>
			<key>name</key>
			<string>BPD Bali</string>
		</dict>
		<dict>
			<key>kode</key>
			<string>0041</string>
			<key>name</key>
			<string>HSBC</string>
		</dict>
		<dict>
			<key>kode</key>
			<string>0494</string>
			<key>name</key>
			<string>AGRO</string>
		</dict>
		<dict>
			<key>kode</key>
			<string>0161</string>
			<key>name</key>
			<string>GANESHA</string>
		</dict>
		<dict>
			<key>kode</key>
			<string>0118</string>
			<key>name</key>
			<string>NAGARI</string>
		</dict>
		<dict>
			<key>kode</key>
			<string>0466</string>
			<key>name</key>
			<string>SRI PARTHA</string>
		</dict>
		<dict>
			<key>kode</key>
			<string>0513</string>
			<key>name</key>
			<string>Bank INA</string>
		</dict>
		<dict>
			<key>kode</key>
			<string>0128</string>
			<key>name</key>
			<string>BPD NTB</string>
		</dict>
		<dict>
			<key>kode</key>
			<string>0052</string>
			<key>name</key>
			<string>ABNAMRO/ RBS</string>
		</dict>
		<dict>
			<key>kode</key>
			<string>0506</string>
			<key>name</key>
			<string>BSMI</string>
		</dict>
		<dict>
			<key>kode</key>
			<string>0112</string>
			<key>name</key>
			<string>BPD DIY</string>
		</dict>
		<dict>
			<key>kode</key>
			<string>777</string>
			<key>name</key>
			<string>FINNET</string>
		</dict>
		<dict>
			<key>kode</key>
			<string>0517</string>
			<key>name</key>
			<string>517</string>
		</dict>
	</array>
</dict>
</plist>
