<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<array>
	<dict>
		<key>code</key>
		<string>88</string>
		<key>name</key>
		<string>Tagihan Sudah Terbayar</string>
	</dict>
	<dict>
		<key>code</key>
		<string>7000</string>
		<key>name</key>
		<string>Sistem Sedang Dalam Perbaikan</string>
	</dict>
    <dict>
        <key>code</key>
        <string>7004</string>
        <key>name</key>
        <string>Koneksi Terputus</string>
    </dict>
    <dict>
        <key>code</key>
        <string>7011</string>
        <key>name</key>
        <string>Akun Pengirim Belum Teregister</string>
    </dict>
    <dict>
        <key>code</key>
        <string>7012</string>
        <key>name</key>
        <string>Format Salah</string>
    </dict>
    <dict>
        <key>code</key>
        <string>7014</string>
        <key>name</key>
        <string>Transaksi Tidak Valid</string>
    </dict>
    <dict>
        <key>code</key>
        <string>7017</string>
        <key>name</key>
        <string>Nomor/Akun Pengirim Tidak Dikenali</string>
    </dict>
    <dict>
        <key>code</key>
        <string>7011</string>
        <key>name</key>
        <string>Akun Pengirim Belum Teregister</string>
    </dict>
    <dict>
        <key>code</key>
        <string>7011</string>
        <key>name</key>
        <string>Akun Pengirim Belum Teregister</string>
    </dict>
    <dict>
        <key>code</key>
        <string>7011</string>
        <key>name</key>
        <string>Akun Pengirim Belum Teregister</string>
    </dict>
    <dict>
        <key>code</key>
        <string>7011</string>
        <key>name</key>
        <string>Akun Pengirim Belum Teregister</string>
    </dict>
</array>
</plist>
