<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>data</key>
	<array>
		<dict>
			<key>kode</key>
			<string>001001</string>
			<key>name</key>
			<string>Telkom</string>
		</dict>
		<dict>
			<key>kode</key>
			<string>001001</string>
			<key>name</key>
			<string>Flexi</string>
		</dict>
		<dict>
			<key>kode</key>
			<string>001001</string>
			<key>name</key>
			<string>Speedy</string>
		</dict>
	</array>
</dict>
</plist>
