<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>data</key>
	<array>
		<dict>
			<key>kode</key>
			<string>777090</string>
			<key>name</key>
			<string>AS</string>
		</dict>
		<dict>
			<key>kode</key>
			<string>777080</string>
			<key>name</key>
			<string>SimPATI</string>
		</dict>
		<dict>
			<key>kode</key>
			<string>777093</string>
			<key>name</key>
			<string>AXIS</string>
		</dict>
		<dict>
			<key>kode</key>
			<string>777040</string>
			<key>name</key>
			<string>ESIA</string>
		</dict>
		<dict>
			<key>kode</key>
			<string>777030</string>
			<key>name</key>
			<string>FLEXI</string>
		</dict>
		<dict>
			<key>kode</key>
			<string>777092</string>
			<key>name</key>
			<string>HEPI</string>
		</dict>
		<dict>
			<key>kode</key>
			<string>777020</string>
			<key>name</key>
			<string>IM3</string>
		</dict>
		<dict>
			<key>kode</key>
			<string>777010</string>
			<key>name</key>
			<string>MENTARI</string>
		</dict>
		<dict>
			<key>kode</key>
			<string>777050</string>
			<key>name</key>
			<string>SMARTFREN</string>
		</dict>
		<dict>
			<key>kode</key>
			<string>777019</string>
			<key>name</key>
			<string>STARONE</string>
		</dict>
		<dict>
			<key>kode</key>
			<string>777091</string>
			<key>name</key>
			<string>THREE</string>
		</dict>
		<dict>
			<key>kode</key>
			<string>777060</string>
			<key>name</key>
			<string>XL</string>
		</dict>
	</array>
</dict>
</plist>
